<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Login.css' %}">
</head>
<body>
    <section>
        <div> Raise Ticket</div>
        
        <form method="post">
            {% csrf_token%}
            <input type="text" name="name" placeholder="Name" required>
            
            <input type="email" name="email" placeholder="Email">
            
            <input type="number" name="number" placeholder="Ticket Number">
            <input type="password" name="password" placeholder="Password">
            
            <input type="password" name="confrompassword" placeholder="message">
            <button>Raise</button>
            
        </form>
    </section>




</body>
</html>